## 2. Getting Started with Pandas
### 2.1 Building Blocks of Pandas

#### 1. Data Structure - Series

In [ ]:
import pandas as pd

# Creating a simple Series
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

#### 2. Data Structure - Index

In [ ]:
# Default Index
import pandas as pd
series = pd.Series([10, 20, 30])
print(series.index)
# Output: RangeIndex(start=0, stop=3, step=1)

In [ ]:
# User Defined:
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(series)

In [ ]:
# DateTimeIndex
dates = pd.date_range('2023-01-01', periods=3)
series = pd.Series([10, 20, 30], index=dates)
print(series)

In [ ]:
# Access and Reset Index
print(series.index)

# Set or Reset Index
series.index = ['x', 'y', 'z']  # Series

# For DataFrame
df = pd.DataFrame({'A': [1, 2]}, index=['row1', 'row2'])
df.reset_index(inplace=True)
print(df)

#### 3. Data Structure - DataFrames

In [ ]:
# Transforming in-built data structures - DataFrame
# Style-1
import pandas as pd
df1 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful'], 'Sue': ['Pretty good.', 'Bland.']})
print(df1)

In [ ]:
# Style-2
df2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},
                    index=['Product A', 'Product B'])
print(df2)

#### 4. DataFrames - Loading Data to DataFrames

In [ ]:
# Importing Data from file
import pandas as pd

# path to your dataset must be given to builtin read_csv("Your path") function.
# dataset = pd.read_csv("/data/Week02/bank.csv")
# dataset.head()
# dataset.tail()
# dataset.info()

#### 5. DataFrames - Writing DataFrames to CSV

In [ ]:
# Importing Data from file
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)  # creating a DataFrame

# Writing DataFrame to csv.
df.to_csv('output.csv', index=False)
print("CSV file created successfully!")

### 2.2 Basic Operation on Data: Data Inspection and Exploration

#### 1. First Data Inspection and Exploration

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

# View the first two rows
print("First 2 rows:")
print(df.head(2))

# View the last row
print("\nLast row:")
print(df.tail(1))

# DataFrame information
print("\nDataFrame Info:")
print(df.info())

# Summary statistics
print("\nSummary Statistics:")
print(df.describe())

# Check dimensions of the DataFrame
print(f"\nThe DataFrame has {df.shape[0]} rows and {df.shape[1]} columns.")

# Access the 'Age' column
print("\nAge column:")
print(df['Age'])

# Select rows by numerical index
print("\nFirst row (using iloc):")
print(df.iloc[0])  # First row

# Select rows by condition
print("\nRows where Age > 30:")
print(df.loc[df['Age'] > 30])  # Rows where Age > 30

#### Understanding DataFrame.info()

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, None],
    'Salary': [50000, 60000, 55000]
}
df = pd.DataFrame(data)

# Check info
df.info()

#### Understanding DataFrame.describe()

In [ ]:
# Generate descriptive statistics
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, None],
    'Salary': [50000, 60000, 55000]
}
df = pd.DataFrame(data)

# Check summary statistics
df.describe()  # Generate descriptive statistics

#### 2. Filtering and Modifying Data

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# Filter rows where Age > 28
filtered_rows = df[df['Age'] > 28]
print("Filtered rows (Age > 28):")
print(filtered_rows)

# Select Specific Columns
# Select only 'Name' and 'Salary' columns
selected_columns = df[['Name', 'Salary']]
print("\nSelected columns (Name and Salary):")
print(selected_columns)

In [ ]:
# Drop the 'Salary' column
df_without_salary = df.drop(columns=['Salary'])
print("DataFrame without Salary column:")
print(df_without_salary)

# Drop the row with index 1 (Bob)
df_without_row = df.drop(index=1)
print("\nDataFrame without row index 1:")
print(df_without_row)

# Add a new column for Bonus
df['Bonus'] = df['Salary'] * 0.1
print("\nDataFrame with Bonus column:")
print(df)

### 2.3 Basic Operation on Data - Data Wrangling - Common Data Cleaning Operations

#### 1. Handling Missing Values

In [ ]:
# Adding Some Missing Values
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

iris = load_iris()  # Load the Iris dataset
iris_df = pd.DataFrame(data=np.c_[iris['data'], iris['target']], 
                       columns=iris['feature_names'] + ['target'])

np.random.seed(42)  # Introduce missing values randomly
mask = np.random.rand(*iris_df.shape) < 0.1  # 10%
iris_df[mask] = np.nan

print("Missing Values in Iris Dataset:")
print(iris_df.isnull().sum())

In [ ]:
# Filling missing values with forward fill (ffill), mean, median, and 0
iris_df_ffill = iris_df.ffill()
iris_df_mean = iris_df.fillna(iris_df.mean())
iris_df_median = iris_df.fillna(iris_df.median())
iris_df_zero = iris_df.fillna(0)

# Expand iris_df with filled columns
iris_df_expanded = pd.concat([
    iris_df, 
    iris_df_ffill.add_suffix('_ffill'), 
    iris_df_mean.add_suffix('_mean'),
    iris_df_median.add_suffix('_median'),
    iris_df_zero.add_suffix('_zero')
], axis=1)

# Display the head of the expanded DataFrame
print("\nDataset after Filling Missing Values:")
print(iris_df_expanded.head())

#### 2. Some Common Operation performed for cleaning data

In [ ]:
# Trimming Whitespaces
df = pd.DataFrame({'Name': ['  Alice  ', '  Bob  '], 'Age': [25, 30]})
df['Name'] = df['Name'].str.strip()
print("After trimming whitespaces:")
print(df)

In [ ]:
# Changing Datatype
df = pd.DataFrame({'Age': ['25', '30', '35']})
# Change 'Age' column datatype to integer
df['Age'] = df['Age'].astype(int)
print("After changing datatype:")
print(df)
print(df.dtypes)

In [ ]:
# Renaming Columns
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df = df.rename(columns={'Name': 'FullName', 'Age': 'Years'})
print("After renaming columns:")
print(df)

In [ ]:
# Removing Duplicates
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 25]})
df = df.drop_duplicates()
print("After removing duplicates:")
print(df)

#### 3. Data Transformation - DataFrame Reshaping

In [ ]:
# Pivoting
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'City': ['Kathmandu', 'Pokhara', 'Kathmandu', 'Pokhara'],
    'Temperature': [15, 18, 16, 19]
}
df = pd.DataFrame(data)

# Pivot: Reshape data to show cities as columns
pivoted_df = df.pivot(index='Date', columns='City', values='Temperature')
print("Pivoted DataFrame:")
print(pivoted_df)

In [ ]:
# Melting
# Melt: Convert wide data back to long format
melted_df = pd.melt(pivoted_df.reset_index(), id_vars=['Date'],
                    var_name='City', value_name='Temperature')
print("Melted DataFrame:")
print(melted_df)

#### 4. Data Transformation - Data Scaling

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()  # Load the Iris dataset
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

# Min-Max Scaling using Pandas
iris_minmax_scaled = (iris_df - iris_df.min()) / (iris_df.max() - iris_df.min())

print("Original Iris DataFrame:")
print(iris_df.head())

print("\nMin-Max Scaled Iris DataFrame:")
print(iris_minmax_scaled.head())  # Display scaled data

#### 5. Data Transformation - Handling Categorical Variables

In [ ]:
# Ordinal or Label Encoding
import pandas as pd

# Sample DataFrame with ordinal categories
df = pd.DataFrame({'Category': ['Low', 'Medium', 'High', 'Low', 'High']})

# Ordinal encoding using map
ordinal_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
df['Category_Ordinal'] = df['Category'].map(ordinal_mapping)
print("Ordinal Encoding:")
print(df)

In [ ]:
# One Hot Encoding
import pandas as pd

df_municipalities = pd.DataFrame({
    'Municipality': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Madhyapur Thimi', 'Kirtipur']
})

one_hot_encoding = pd.get_dummies(df_municipalities['Municipality'], prefix='Municipality')
df_encoded = pd.concat([df_municipalities, one_hot_encoding], axis=1)
print("One Hot Encoding:")
print(df_encoded)  # Display the result

#### 6. Merging and Joining DataFrames

In [ ]:
# Concatenation
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Row-wise concatenation
combined_rows = pd.concat([df1, df2], axis=0)
print("Row-wise concatenation:")
print(combined_rows)

# Column-wise concatenation
combined_cols = pd.concat([df1, df2], axis=1)
print("\nColumn-wise concatenation:")
print(combined_cols)

In [ ]:
# Merge
# Sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

# Inner join
inner_merged = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_merged)

# Left join
left_merged = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_merged)

# Outer join
outer_merged = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Join:")
print(outer_merged)

---
## 3. To-Do-Task
### 3.1 Warming Up Exercises - Basic Inspection and Exploration

#### Problem 1 - Data Read, Write and Inspect
**Dataset:** bank.csv

Tasks:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:
   - (a) columns with dtypes=object
   - (b) unique values of those columns.
   - (c) check for the total number of null values in each column.
3. Drop all the columns with dtypes object and store in new DataFrame, also write the DataFrame in ".csv" with name "bank_numeric_data.csv"
4. Read "bank_numeric_data.csv" and Find the summary statistics.

In [ ]:
# Task 1: Load the dataset
import pandas as pd

# Load bank.csv dataset
bank_df = pd.read_csv('bank.csv')
print("Dataset loaded successfully!")
print(bank_df.head())

In [ ]:
# Task 2: Check DataFrame info
print("\nDataFrame Info:")
bank_df.info()

# (a) Identify columns with dtype=object
object_columns = bank_df.select_dtypes(include=['object']).columns.tolist()
print("\n(a) Columns with dtypes=object:")
print(object_columns)

# (b) Unique values of those columns
print("\n(b) Unique values of object columns:")
for col in object_columns:
    print(f"\n{col}: {bank_df[col].nunique()} unique values")
    print(bank_df[col].unique())

# (c) Check for total number of null values in each column
print("\n(c) Total number of null values in each column:")
print(bank_df.isnull().sum())

In [ ]:
# Task 3: Drop object columns and save to CSV
bank_numeric_df = bank_df.select_dtypes(exclude=['object'])
print("\nDataFrame after dropping object columns:")
print(bank_numeric_df.head())

# Write to CSV
bank_numeric_df.to_csv('bank_numeric_data.csv', index=False)
print("\nNumeric data saved to 'bank_numeric_data.csv'")

In [ ]:
# Task 4: Read the numeric CSV and find summary statistics
bank_numeric_read = pd.read_csv('bank_numeric_data.csv')
print("\nSummary Statistics:")
print(bank_numeric_read.describe())

#### Problem 2 - Data Imputations
**Dataset:** medical_student.csv

Tasks:
1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify column with missing (null) values.
3. For the column with missing values fill the values using various techniques we discussed above. Try to explain why did you select the particular methods for particular column.
4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.

In [ ]:
# Task 1: Load the dataset
medical_df = pd.read_csv('medical_student.csv')
print("Medical student dataset loaded successfully!")
print(medical_df.head())

In [ ]:
# Task 2: Check DataFrame info and identify missing values
print("\nDataFrame Info:")
medical_df.info()

print("\nMissing values in each column:")
missing_values = medical_df.isnull().sum()
print(missing_values[missing_values > 0])

In [ ]:
# Task 3: Fill missing values with appropriate techniques
import numpy as np

# Create a copy to work with
medical_df_clean = medical_df.copy()

# Example: Fill numerical columns with mean/median
# For categorical columns, use mode or a specific category
# You should adjust based on actual column names in the dataset

for col in medical_df_clean.columns:
    if medical_df_clean[col].isnull().sum() > 0:
        if medical_df_clean[col].dtype in ['int64', 'float64']:
            # For numerical columns, fill with median (more robust to outliers)
            medical_df_clean[col].fillna(medical_df_clean[col].median(), inplace=True)
            print(f"\nFilled '{col}' with median value (numerical column)")
        else:
            # For categorical columns, fill with mode
            medical_df_clean[col].fillna(medical_df_clean[col].mode()[0], inplace=True)
            print(f"\nFilled '{col}' with mode value (categorical column)")

print("\nMissing values after imputation:")
print(medical_df_clean.isnull().sum())

In [ ]:
# Task 4: Check and remove duplicates
print("\nNumber of duplicate rows:")
duplicates_count = medical_df_clean.duplicated().sum()
print(duplicates_count)

if duplicates_count > 0:
    print("\nRemoving duplicate rows...")
    medical_df_clean = medical_df_clean.drop_duplicates()
    print(f"Removed {duplicates_count} duplicate rows")
else:
    print("\nNo duplicate rows found!")

print("\nFinal DataFrame shape:")
print(medical_df_clean.shape)

---
### 3.2 Exercises - Data Cleaning and Transformations with "Titanic Dataset"
**Dataset:** titanic.csv

In [ ]:
# Load Titanic dataset
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

titanic_df = pd.read_csv('titanic.csv')
print("Titanic dataset loaded successfully!")
print(titanic_df.head())
print("\nDataset Info:")
titanic_df.info()

#### Problem 1
Create a DataFrame that is subsetted for the columns 'Name', 'Pclass', 'Sex', 'Age', 'Fare', and 'Survived'. Retain only those rows where 'Pclass' is equal to 1, representing first-class passengers. What is the mean, median, maximum value, and minimum value of the 'Fare' column?

In [ ]:
# Subset DataFrame for specific columns
titanic_subset = titanic_df[['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]

# Filter for first-class passengers only
first_class_df = titanic_subset[titanic_subset['Pclass'] == 1]

print("First-class passengers DataFrame:")
print(first_class_df.head())

# Calculate statistics for Fare column
print("\nFare Statistics for First-Class Passengers:")
print(f"Mean: {first_class_df['Fare'].mean():.2f}")
print(f"Median: {first_class_df['Fare'].median():.2f}")
print(f"Maximum: {first_class_df['Fare'].max():.2f}")
print(f"Minimum: {first_class_df['Fare'].min():.2f}")

#### Problem 2
How many null values are contained in the 'Age' column in your subsetted DataFrame? Once you've found this out, drop them from your DataFrame.

In [ ]:
# Check null values in Age column
age_null_count = first_class_df['Age'].isnull().sum()
print(f"Number of null values in 'Age' column: {age_null_count}")

# Drop rows with null Age values
first_class_df_clean = first_class_df.dropna(subset=['Age'])

print(f"\nDataFrame shape before dropping nulls: {first_class_df.shape}")
print(f"DataFrame shape after dropping nulls: {first_class_df_clean.shape}")
print(f"Rows removed: {first_class_df.shape[0] - first_class_df_clean.shape[0]}")

#### Problem 3
The 'Embarked' column in the Titanic dataset contains categorical data representing the ports of embarkation:
- 'C' for Cherbourg
- 'Q' for Queenstown
- 'S' for Southampton

Tasks:
1. Use one-hot encoding to convert the 'Embarked' column into separate binary columns ('Embarked_C', 'Embarked_Q', 'Embarked_S').
2. Add these new columns to the original DataFrame.
3. Drop the original 'Embarked' column.
4. Print the first few rows of the modified DataFrame to verify the changes.

In [ ]:
# Create a copy of the full dataset for this task
titanic_encoded = titanic_df.copy()

# One-hot encoding for 'Embarked' column
embarked_encoded = pd.get_dummies(titanic_encoded['Embarked'], prefix='Embarked')

# Add encoded columns to DataFrame
titanic_encoded = pd.concat([titanic_encoded, embarked_encoded], axis=1)

# Drop original 'Embarked' column
titanic_encoded = titanic_encoded.drop(columns=['Embarked'])

print("DataFrame after one-hot encoding 'Embarked' column:")
print(titanic_encoded.head())
print("\nColumns in modified DataFrame:")
print(titanic_encoded.columns.tolist())

#### Problem 4
Compare the mean survival rates ('Survived') for the different groups in the 'Sex' column. Draw a visualization to show how the survival distributions vary by gender.

In [ ]:
# Calculate mean survival rates by sex
survival_by_sex = titanic_df.groupby('Sex')['Survived'].mean()

print("Mean Survival Rates by Sex:")
print(survival_by_sex)

# Visualization
plt.figure(figsize=(10, 6))

# Bar plot
plt.subplot(1, 2, 1)
survival_by_sex.plot(kind='bar', color=['skyblue', 'salmon'])
plt.title('Mean Survival Rate by Gender')
plt.xlabel('Gender')
plt.ylabel('Survival Rate')
plt.xticks(rotation=0)
plt.ylim(0, 1)

# Count plot
plt.subplot(1, 2, 2)
sns.countplot(data=titanic_df, x='Sex', hue='Survived')
plt.title('Survival Count by Gender')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.legend(title='Survived', labels=['No', 'Yes'])

plt.tight_layout()
plt.show()

#### Problem 5
Draw a visualization that breaks your visualization from Exercise 4 down by the port of embarkation ('Embarked'). In this instance, compare the ports 'C' (Cherbourg), 'Q' (Queenstown), and 'S' (Southampton).

In [ ]:
# Calculate survival rates by sex and embarkation port
survival_by_sex_embarked = titanic_df.groupby(['Sex', 'Embarked'])['Survived'].mean().unstack()

print("Mean Survival Rates by Sex and Embarkation Port:")
print(survival_by_sex_embarked)

# Visualization
plt.figure(figsize=(12, 5))

# Grouped bar chart
plt.subplot(1, 2, 1)
survival_by_sex_embarked.plot(kind='bar', ax=plt.gca())
plt.title('Survival Rate by Gender and Port of Embarkation')
plt.xlabel('Gender')
plt.ylabel('Survival Rate')
plt.legend(title='Port', labels=['Cherbourg (C)', 'Queenstown (Q)', 'Southampton (S)'])
plt.xticks(rotation=0)
plt.ylim(0, 1)

# Faceted count plot
plt.subplot(1, 2, 2)
titanic_clean = titanic_df.dropna(subset=['Embarked'])
sns.barplot(data=titanic_clean, x='Embarked', y='Survived', hue='Sex')
plt.title('Survival Rate by Port and Gender')
plt.xlabel('Port of Embarkation')
plt.ylabel('Survival Rate')
plt.legend(title='Gender')

plt.tight_layout()
plt.show()

#### Problem 6 {Optional}
Show how the survival rates ('Survived') vary by age group and passenger class ('Pclass'). Break up the 'Age' column into five quantiles in your DataFrame, and then compare the means of 'Survived' by class and age group. Draw a visualization using any plotting library to represent this graphically.

In [ ]:
# Create age groups using quantiles
titanic_age = titanic_df.dropna(subset=['Age']).copy()

# Create 5 age quantiles
titanic_age['Age_Group'] = pd.qcut(titanic_age['Age'], q=5, labels=['Q1 (Youngest)', 'Q2', 'Q3', 'Q4', 'Q5 (Oldest)'])

# Calculate survival rates by Pclass and Age_Group
survival_by_class_age = titanic_age.groupby(['Pclass', 'Age_Group'])['Survived'].mean().unstack()

print("Mean Survival Rates by Passenger Class and Age Group:")
print(survival_by_class_age)

# Visualization
plt.figure(figsize=(14, 6))

# Grouped bar chart
plt.subplot(1, 2, 1)
survival_by_class_age.plot(kind='bar', ax=plt.gca())
plt.title('Survival Rate by Passenger Class and Age Group')
plt.xlabel('Passenger Class')
plt.ylabel('Survival Rate')
plt.legend(title='Age Group', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xticks(rotation=0)
plt.ylim(0, 1)

# Heatmap
plt.subplot(1, 2, 2)
sns.heatmap(survival_by_class_age, annot=True, fmt='.2f', cmap='YlGnBu', cbar_kws={'label': 'Survival Rate'})
plt.title('Survival Rate Heatmap: Class vs Age Group')
plt.xlabel('Age Group')
plt.ylabel('Passenger Class')

plt.tight_layout()
plt.show()

# Additional faceted visualization
fig, axes = plt.subplots(1, 3, figsize=(15, 5))
for i, pclass in enumerate([1, 2, 3]):
    class_data = titanic_age[titanic_age['Pclass'] == pclass]
    survival_by_age = class_data.groupby('Age_Group')['Survived'].mean()
    
    axes[i].bar(range(len(survival_by_age)), survival_by_age.values, color='steelblue')
    axes[i].set_title(f'Class {pclass} Survival by Age Group')
    axes[i].set_xlabel('Age Group')
    axes[i].set_ylabel('Survival Rate')
    axes[i].set_xticks(range(len(survival_by_age)))
    axes[i].set_xticklabels(survival_by_age.index, rotation=45, ha='right')
    axes[i].set_ylim(0, 1)

plt.tight_layout()
plt.show()